@tailwind base;
@tailwind components;
@tailwind utilities;

#history {
    background-image: url('/assets/history-mode-light/history.png');
}

#history:hover {
    background-image: url('/assets/history-mode-light/history-hover.png');
}
#theme {
    background-image: url('/assets/theme-mode-light/theme.png');
}

#theme:hover {
    background-image: url('/assets/theme-mode-light/theme-hover.png');
}